<div class="container">
    <h1 style="margin:10px 0 20px 0;">Noticias Planetario</h1>

    @foreach (var newsInstance in @ViewBag.News)
    {
        <div class="card rounded-3 bg-dark" style="margin: 15px 0 15px 0;">
            <div class="card-body">
                <h2 class="text-start">@newsInstance.Title </h2>
                <h9>@newsInstance.Date</h9>
                <span>
                    <h5>Categoría: <a class=" btn btn-group-sm btn-success"> @newsInstance.Category</a></h5>
                    <h5>
                        Tópico:
                        @foreach (var topic in @newsInstance.Topics) {
                            <a class=" btn btn-group-sm btn-success"> @topic</a>
                        }
                    </h5>
                    </span>
                <p class="card-text" style="margin-top: 15px;">
                    @newsInstance.Description
                </p>
               @Html.ActionLink("Seguir leyendo","News", new { title = newsInstance.Title }, new { @class = "btn btn-primary" })

            </div>
        </div>
    }

</div>
