<div class="container">
    <hr />
    <h3 class="text-start">
        <i class="fas fa-user-edit"></i>
        @Html.ActionLink("Agregar noticia o anuncio", "/SubmitNewsForm", new { @class = "btn btn-info" })
    </h3>
    <hr />
    <h1 style="margin:10px 0 20px 0;">Noticias y Anuncios del Planetario</h1>

    @foreach (var news in @ViewBag.News)
    {
    <div class="card rounded-3 bg-dark" style="margin: 15px 0 15px 0;">
        <div class="card-body">
            <h2 class="text-start">@news.Title </h2>
            <h4>@news.Author</h4>
            <br />
            <h9>@news.Date</h9>
            <span>
                <h5>Categoría: <a class=" btn btn-group-sm btn-success"> @news.Category</a></h5>
                <h5>
                    Tópicos:
                    @foreach (var topic in @news.Topics) {
                    <a class="badge rounded-pill bg-info"> @topic</a>
                        }
                </h5>
            </span>
            <p class="card-text" style="margin-top: 15px;">
                @news.Description
            </p>
            @Html.ActionLink("Seguir leyendo", "News", new { title = news.Title }, new { @class = "btn btn-primary" })
        </div>
    </div>
    }

</div>
