
<!DOCTYPE html>
<html>
<head>
    <title>Noticia</title>
</head>

<body>
    <div class="container">
        <div class="card-body">
            <p class="card-text">
                <h2>@ViewBag.News.Title</h2>
            </p>
            <h4> @ViewBag.News.Author </h4>
            <p class="card-text"> @ViewBag.News.Date </p>
            <p class="card-text">Categoría: @ViewBag.News.Category </p>
            <p class="card-text">
                Tópicos:
                @foreach (var topic in @ViewBag.News.Topics) {
                <a class="badge rounded-pill bg-info"> @topic </a>
                }
            </p>
        </div>

        <div class="card col-md">
            <div class="card-body">
                <p class="card-text">@ViewBag.News.Content</p>
            </div>


            @{ string ImageRefWithExtension = @ViewBag.News.ImageRef+".jpg"; }
            <img src="~/images/news/@ImageRefWithExtension" class="d-block w-100 carousel-Img" alt="A news relevant to image">
        </div>
        <a class="btn btn-primary" href="/News/ListNews" role="button">Atrás</a>
    </div>

</body>
</html>
