@model Planetarium.Models.VisitorModel
@{
    ViewBag.Title = "Inscripción";
}
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container" style="height: 100vh">
        @if (Convert.ToBoolean(TempData["Error"]) == true) {
            <div class="alert alert-danger alert-dismissible" role="alert">
                <span type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></span>
                <strong>¡Oh no!</strong> @TempData["WarningMessage"]
            </div>
        }

        @using (Html.BeginForm("VerifyVisitorIdentity", "EducationalActivity", FormMethod.Post, new { enctype = "multipart/form-data" })) {
            @Html.AntiForgeryToken()
            <div class="row justify-content-center align-items-center">

                <h2 style="margin: 20px 0 30px 0; text-align:center"><strong>@ViewBag.ActivityTitle</strong></h2>

                <div class="card justify-content-center" style="max-width: 30rem; padding: 0px;">
                    <div class="card-header">
                        <h4 class="text-success text-center">Inscripción</h4>
                    </div>
                    <div class="card-body">

                        <div class="form-group">
                            @Html.LabelFor(model => model.Dni)
                            @Html.TextBoxFor(model => model.Dni, new { @class = "form-control", @placeholder = "#########" })
                            @Html.ValidationMessageFor(model => model.Dni, "", new { @class = "text-danger" })
                        </div>
                        <div class="text-center" style="margin-top: 1rem">
                            @if (ViewBag.Register != 0) {
                                 <p style="color:red;">@ViewBag.ErrorMessages[ViewBag.Register]</p>
                            }
                        </div>
                    </div>

                    <div class="text-center">
                        <input type="submit" id="inputDni" class="btn btn-success btn-block" style="width:93%; margin: 10px; margin-top:5px" value="Inscribirme" />
                        @Html.ActionLink("¿No está registrado? Regístrese aquí", "../EducationalActivity/ActivityInscriptionForm", new { activityTitle = @ViewBag.ActivityTitle, activityDate = @ViewBag.ActivityDate}, new { @class = "btn btn-secondary", @style = "margin-top: 5px; width:93%; margin-bottom: 10px " })

                        <br />
                    </div>
                    <input type="text" id="title" name="title" style="display:none" value="@ViewBag.ActivityTitle" />
                    <input type="text" id="date" name="date" style="display:none" value="@ViewBag.ActivityDate" />
                </div>
            </div>
        }
    </div>
</body>
</html>