@{ 
    ViewBag.seatFromDBController = Html.Raw(Url.Action("GetOcuppiedSeats", "EducationalActivity", new { date = ViewBag.date, title = ViewBag.title }));
}

<!DOCTYPE html>
<html>
<head>
    <title>Asientos</title>
</head>

<body>
    <div class="container" style="height: 100rem">
        <div class="card-body">
            <p class="card-text">
                <h2>Asignar asiento</h2>
            </p>
            <hr />
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-header text-center">
                            Pantalla
                        </div>
                        <div class="card-body d-flex justify-content-center">
                            <div class="row">
                                <div class="col w-100">
                                    <table id="holder"></table>
                                    @using (Html.BeginForm("ConfirmSeat", "EducationalActivity", FormMethod.Post, new { enctype = "multipart/form-data" })) {
                                        @Html.AntiForgeryToken()
                                        <div class="col d-flex justify-content-center" style="margin-top: 15px;">
                                            <input type="text" name="selectedSeatString" value="" id="selectedSeat" style="display: none;" />
                                            <input type="text" name="selectedSeatTypeString" value="" id="selectedSeatType" style="display: none;" />
                                            <input type="button" name="name" class="btn btn-secondary" value="Borrar Selección" onclick="clearSelection()" style="margin: 0 3px 5px 3px" />
                                            <input type="button" name="name" id="continueButton" class="btn btn-light" value="Continuar" onclick="checkData()" style="margin: 0 3px 5px 3px" />



                                            <input type="text" name="dni" value="@ViewBag.id" style="display: none;" />
                                            <input type="text" name="title" value="@ViewBag.title" style="display: none;" />
                                            <input type="text" name="date" value="@ViewBag.date" style="display: none;" />


                                            <input type="submit" name="name" id="Reservar" class="btn btn-light" value="Continuar" onclick="checkData()" style="display: none" />
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>


                    </div>

                    @Html.ActionLink("Regresar", "ActivityInscription", "EducationalActivity", new { activityTitle = ViewBag.title, activityDate = ViewBag.date }, new { @class = "btn btn-success", @style = "" })
                </div>

                <div class="col">
                    <div class="card text-center">
                        <div class="card-header">
                            Seleccione la cantidad de entradas
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <label>Infantil</label>
                                </div>
                                <div class="col">
                                    <input id="childInput" onchange="updateSeats()" type="number" name="name" value="0" style="max-width:50px;" min="0" max="10"/> <br />
                                </div>
                            </div>
                            
                            
                            <hr />
                            <div class="row">
                                <div class="col">
                                    <label>Adulto</label>
                                </div>
                                <div class="col">
                                    <input id="adultInput" onchange="updateSeats()" type="number" name="name" value="0" style="max-width:50px;" min="0" max="10"/> <br />
                                </div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col">
                                    <label>Adulto Mayor</label>
                                </div>
                                <div class="col">
                                    <input id="seniorInput" onchange="updateSeats()" type="number" name="name" value="0" style="max-width:50px;" min="0" max="10"/> <br />
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            
        </div>
    </div>

    <script src="~/Scripts/Seats.js"></script>
    <script>
        let inputIds = ["#childInput", "#adultInput", "#seniorInput"];
        let url = "@ViewBag.seatFromDBController";
        let seatsGen = new SeatGenerator("holder", "@ViewBag.maxParticipants", url, inputIds);
        function updateSeats() {
            seatsGen.updateAskedSeats();
        }
    </script>
</body>
</html>

