
<!DOCTYPE html>
<html>

<head>
    <title>Comprobante de pago</title>
</head>

<body>
    <div class="container" style="margin-bottom:10%; margin-top:5%">
        <div class="row justify-content-center align-items-center">
            <div class="card w-50" style="padding: 0px;">
                <div class="card-header">
                    <h2>Comprobante de pago</h2>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h5> <b>Nombre evento:</b> @ViewBag.Title</h5>
                            <h5> <b>Cédula:</b> @ViewBag.Visitor.Dni</h5>
                            <h5> <b>Asiento:</b> <a class="badge  rounded-pill bg-info"> @ViewBag.Seat</a></h5>
                            <h5> <b>Fecha:</b> @ViewBag.Date</h5>
                            <h5 id="InvoiceDiscount"> <b>Descuento:</b> 0.00</h5>
                            <hr />
                            <h5 id="InvoiceTotalPrice">Monto cancelado: ₡@ViewBag.Price colones</h5>
                            <hr />
                        </div>
                        
                    </div>
                    <div class="row">
                        <div class="col text-center">
                            @Html.ActionLink("Finalizar", "InsertVisitorWithTicket", "EducationalActivity", new { dni = ViewBag.visitor.Dni, title = ViewBag.title, date = ViewBag.date, seat = ViewBag.seat, price = ViewBag.price }, new { @class = "btn btn-success", @style = "width: 40%" })
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
