<div class="container">
    <hr />
    <h3 class="text-start">
        <i class="fas fa-tasks"></i>
        @Html.ActionLink("Aceptar propuestas de actividades educativas", "/ActivitiesApprobation", new { @class = "btn btn-info" })
        <hr />
        <i class="fas fa-user-edit"></i>
        @Html.ActionLink("Agregar actividad educativa", "/ProposeEducationalActivity", new { @class = "btn btn-info" })
        <hr />
        <i class="fas fa-user-edit"></i>
        @Html.ActionLink("Agregar material educativo", "../EducationalMaterial/SubmitEducationalMaterial", new { @class = "btn btn-info" })
    </h3>

    <hr />

    <h1 style="margin:10px 0 20px 0;">Actividades Educativas</h1>
    <div class="form-group has-feedback">
        <label class="control-label">Buscador</label>
        <input type="text" id="search" class="form-control" placeholder="Buscar por palabras claves, categorías o tópicos" autocomplete="off" />
        <i class="glyphicon glyphicon-user form-control-feedback"></i>
    </div>
    <div class="row d-flex">
        @foreach (var activity in ViewBag.activities) {
            if (activity.State == "1") {
                <div id="@activity.Title " class="col-4 d-flex justify-content-evenly">
                    <div id="@activity.Title" class="card rounded-3 bg-light" style="margin: 15px 0 15px 0;">
                        <div class="card-body d-flex flex-column">
                            <h2 class="text-start">@activity.Title  </h2>
                            <h9>Fecha: @activity.Date</h9>
                            <h4>Impartido por: @activity.Publisher </h4>
                            <p class="card-text" style="margin-top: 15px;">
                                @activity.Description
                            </p>

                            <h5>
                                Publicos Meta:
                                @foreach (var targetAudienceInstance in activity.TargetAudience) {
                                    <a class="badge  rounded-pill bg-info"> @targetAudienceInstance</a>
                                }
                            </h5>
                            @Html.ActionLink("Ver más", "EducationalActivity", new { tempActivity = Json.Encode(@activity) }, new { @class = "align-self-end align-self-right btn btn-primary", @style = "margin-top: auto; " })
                        </div>
                    </div>
                </div>
            }
        }
    </div>
    
</div>
<script>
    async function main() {
        document.getElementById("search").addEventListener("keyup", search);
    }

    function search() {
        let text = document.getElementById("search").value;      
        var activities = @Html.Raw(Json.Encode(ViewBag.activities));
        matchAllTitles(activities, text);
    }

    function matchAllTitles(activities,text) {
        var matching = new Boolean(false);
        console.log("Text: " + text);
        for (var activity in activities) {
            matching = match(activities[activity].Title, text)
                || match(activities[activity].Category, text)
                || match(activities[activity].ComplexityLevel, text)
                || matchList(activities[activity].TargetAudience, text);
            if (text == "")
                show(activities[activity].Title)
            else if (matching)
                show(activities[activity].Title)
            else
                hide(activities[activity].Title)       
        }
        return matching;
    }

    function matchList(list, word) {
        var matching = new Boolean(false);
        for (var element in list) {
            matching = match(list[element], word);
            if (matching)
                return matching;
        }
        return matching;
    }

    function match(word, substring) {
        return word.toLowerCase().includes(substring.toLowerCase());
    }

    function hide(elementId) {
        document.getElementById(elementId).style.display = "none";
    }

    function show(elementId) {
        document.getElementById(elementId).style.display = "block";
    }

    main();

</script>

