<!DOCTYPE html>
<html>
<head>
    <title>Estadísticas por tema</title>
    <script src="https://cdn.anychart.com/releases/8.0.0/js/anychart-base.min.js"></script>
</head>
<body>
    <div class="container">
        <h1 style="margin:10px 0 20px 0;">Estadísticas de Involucramiento</h1>
        <div class="row">
            <div class="col">
                <h5>Seleccione las categorías</h5>
                <select class="form-select" id="categorySelect" onchange="addCategoryButton(this.value), updateCategoryChart()">
                    <option value="">Seleccione la(s) categoría(s)</option>
                    @foreach (var category in ViewBag.TopicsByCategory) {
                        <option value="@category.Key">@category.Key</option>
                    }
                </select>

                <br />
                <br />
                <div class="card" style="margin: 10px 0 10px 0" >
                    <div class="card-header">
                        <h4 class="text-success text-center">Categorías seleccionadas</h4>
                    </div>
                    <div class="card-body" id="categoryContainer" onclick="updateCategoryChart()">
                    </div>
                    <input type="text" name="inputCategoryString" id="inputCategoryString" value="" style="display: none;"/>
                </div>
                <div id="categoriesChart" style="height: 500px; width: 100%;"></div>
            </div>

            <div class="col">
                <h5>Seleccione los topicos</h5>
                <select class="form-select" id="topicSelect" onchange="addTopicButton(this.value)">
                    <option value="">Seleccione los tópicos</option>
                    @foreach (var category in ViewBag.TopicsByCategory) {
                        foreach (var topic in category.Value) {
                            <option value="@topic">@topic</option>
                        }
                    }
                </select>

                <br />
                <br />
                <div class="card" style="margin: 10px 0 10px 0">
                    <div class="card-header">
                        <h4 class="text-success text-center">Topicos seleccionados</h4>
                    </div>
                    <div class="card-body" id="topicsContainer">
                    </div>
                    <input type="text" name="inputTopicString" id="inputTopicString" value="" style="display: none;" />
                </div>
                <div id="topicsChart" style="height: 500px; width: 100%;"></div>
            </div>   
        </div>
        
    </div>

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/GenericMultiselect.js"></script>
    <script type="text/javascript">
        let multiSelectCategory = new GenericMultiSelect("#categorySelect", "#categoryContainer", "#inputCategoryString");
        let multiSelectTopics = new GenericMultiSelect("#topicSelect", "#topicsContainer", "#inputTopicString");
    </script>

    <script type="text/javascript">
        //let input = document.getElementById('inputCategoryString')

        //input.onchange = dummy;

        function callMeMaybe() {
            console.log("Me estan llamando");
        }

        let categoriesRank = @Html.Raw(Json.Encode(ViewBag.CategoriesRank));

        let items = Object.keys(categoriesRank).map(function (key) {
            return [key, categoriesRank[key]];
        });

        let categoriesChart = anychart.bar();
        let data = anychart.data.set(items);

        categoriesChart.bar(data);
        categoriesChart.title("Categories Chart Example");
        categoriesChart.container("categoriesChart");
        categoriesChart.draw();

        let topicsRank = @Html.Raw(Json.Encode(ViewBag.TopicsRank));

        let items2 = Object.keys(topicsRank).map(function (key) {
            return [key, topicsRank[key]];
        });

        var topicsChart = anychart.bar();
        topicsChart.bar(items2);
        topicsChart.title("Topic Chart Example");
        topicsChart.container("topicsChart");
        topicsChart.draw();

        //document.getElementById("inputCategoryString").value = "";
        
        function updateCategoryChart() {
            let selectedCategories = document.getElementById("inputCategoryString").value;

            selectedCategories = sortElements(selectedCategories);
            selectedCategories = selectedCategories.substring(0, selectedCategories.length - 1);
            removeAll();

            console.log(selectedCategories);
            let words = selectedCategories.split('|');
            let counter = 0;

            for (let word of words) {
                console.log("Word: " + word);
                data.insert({ x: word, value: categoriesRank[word] }, counter++);
            }
        }

        function removeAll() {
            for (let element = 0; element < 4; ++element ) {
                data.remove(0);
            }
        }

        function sortElements(selectedCategories) {
            let rankedCategories = "";
            for (let category in categoriesRank) {
                if (selectedCategories.search(category) != -1) {
                    rankedCategories += category + "|";
                }
            }
            return rankedCategories;
        }

    </script>

</body>
</html>