<!DOCTYPE html>
<html>
<head>
    <title>Estadísticas por tema</title>
    <script src="https://cdn.anychart.com/releases/8.0.0/js/anychart-base.min.js"></script>
</head>
<body>
    <div class="container">
        <h1 style="margin:10px 0 20px 0;">Estadísticas de Involucramiento</h1>
        <div class="row">
            <div class="col">
                <h5>Seleccione las categorías</h5>
                <select class="form-select" id="categorySelect" onchange="addCategoryButton(this.value)">
                    <option value="">Seleccione la(s) categoría(s)</option>
                    @foreach (var category in ViewBag.TopicsByCategory) {
                    <option value="@category.Key">@category.Key</option>
                    }
                </select>

                <br />
                <br />
                <div class="card" style="margin: 10px 0 10px 0">
                    <div class="card-header">
                        <h4 class="text-success text-center">Categorías seleccionadas</h4>
                    </div>
                    <div class="card-body" id="categoryContainer">
                    </div>
                    <input type="text" name="inputCategoryString" id="inputCategoryString" value="" style="display: none;" />
                </div>
                <div id="categoriesChart" style="height: 500px; width: 500px;"></div>
            </div>

            <div class="col">
                <h5>Seleccione los topicos</h5>
                <select class="form-select" id="topicSelect" onchange="addTopicButton(this.value)">
                    <option value="">Seleccione los tópicos</option>
                    @foreach (var category in ViewBag.TopicsByCategory) {
                        foreach (var topic in category.Value) {
                    <option value="@topic">@topic</option>
                        }
                    }
                </select>

                <br />
                <br />
                <div class="card" style="margin: 10px 0 10px 0">
                    <div class="card-header">
                        <h4 class="text-success text-center">Topicos seleccionados</h4>
                    </div>
                    <div class="card-body" id="topicsContainer">
                    </div>
                    <input type="text" name="inputTopicString" id="inputTopicString" value="" style="display: none;" />
                </div>
                <div id="topicsChart" style="height: 500px; width: 500px;"></div>
            </div>   
        </div>
        
    </div>

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/GenericMultiselect.js"></script>
    <script type="text/javascript">
        let multiSelectCategory = new GenericMultiSelect("#categorySelect", "#categoryContainer", "#inputCategoryString");
        let multiSelectTopics = new GenericMultiSelect("#topicSelect", "#topicsContainer", "#inputTopicString");
    </script>

    <script>
        anychart.onDocumentReady(function () {
            let categoriesRank = @Html.Raw(Json.Encode(ViewBag.CategoriesRank));
            //let categoriesRows = "{rows: [";
            //for (let category in categoriesRank) {
            //    categoriesRows += "[\"" + category + "\", " + categoriesRank[category] + "],";
            //}
            //categoriesRows = categoriesRows.substring(0, categoriesRows.length - 1) + "]}";
            //console.log(categoriesRows);

            var data = {
                rows: [
                    ["San-Francisco (1906)", 1500],
                    ["Messina (1908)", 87000],
                    ["Ashgabat (1948)", 175000],
                    ["Chile (1960)", 10000],
                    ["Tian Shan (1976)", 242000],
                    ["Armenia (1988)", 25000],
                    ["Iran (1990)", 50000]
                ]
            };

            var categoriesChart = anychart.column();
            categoriesChart.data.loadJsonFile(categoriesRank, function (data)){ };
            categoriesChart.title("Categories Chart Example");
            categoriesChart.container("categoriesChart");
            categoriesChart.draw();

            var topicsChart = anychart.column();
            topicsChart.data.loadJsonFile(categoriesRank, function (data)){ };
            topicsChart.title("Topics Chart Example");
            topicsChart.container("topicsChart");
            topicsChart.draw();
        });
    </script>

</body>
</html>