<!DOCTYPE html>
<html>
<head>
    <title>Estadísticas por tema</title>
    <script src="https://cdn.anychart.com/releases/8.0.0/js/anychart-base.min.js"></script>
</head>
<body>
    <div id="controllerURL" data-request-url="@Url.Action("GetTopicsList", "EducationalActivity")"></div>
    <div class="container" style="height: 100%">
        <h1 style="margin:10px 0 20px 0;">Estadísticas de Involucramiento</h1>
        <div class="row">
            <div class="col">
                <h5>Seleccione las categorías</h5>
                <br />
                @Html.DropDownList("Category", ViewData["category"] as List<SelectListItem>, "Seleccione la categoría", new { @class = "form-select", @onchange = "updateTopics(this.value), addCategoryButton(this.value), updateChart('inputCategoryString','categoriesChart',1), hideTopicsChart()" })

                <br />
                <br />
                <div class="card" style="margin: 10px 0 10px 0">
                    <div class="card-header">
                        <h4 class="text-success text-center">Categorías seleccionadas</h4>
                    </div>
                    <div class="card-body" id="categoryContainer" onclick="deleteTopics(), updateChart('inputCategoryString', 'categoriesChart', 1), showTopicsChart()">
                    </div>
                    <input type="text" name="inputCategoryString" id="inputCategoryString" value="" style="display: none;" />
                </div>
                <div id="categoriesChart" style="height: 500px; width: 100%; display: block"></div>
            </div>

            <div class="col">
                <h5>Seleccione los tópicos</h5>
                <br />
                @Html.DropDownList("topicSelect", new SelectList(string.Empty, "Value", "Text"), "Seleccione los tópicos", new { @class = "form-select", @onchange = "addTopicButton(this.value), updateChart('inputTopicString', 'topicsChart', 0)" })

                <br />
                <br />
                <div class="card" style="margin: 10px 0 10px 0">
                    <div class="card-header">
                        <h4 class="text-success text-center">Tópicos seleccionados</h4>
                    </div>
                    <div class="card-body" id="topicsContainer" onclick="updateChart('inputTopicString', 'topicsChart', 0)">
                    </div>
                    <input type="text" name="inputTopicString" id="inputTopicString" value="" style="display: none;" />
                </div>
                <div id="topicsChart" style="height: 500px; width: 100%; display: block"></div>
            </div>
        </div>

    </div>

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/GenericMultiselect.js"></script>
    <script type="text/javascript">
        let multiSelectCategory = new GenericMultiSelect("#Category", "#categoryContainer", "#inputCategoryString");
        let multiSelectTopics = new GenericMultiSelect("#topicSelect", "#topicsContainer", "#inputTopicString");
    </script>
    <script type="text/javascript">
        let categoriesRank = @Html.Raw(Json.Encode(@ViewBag.CategoriesRank));
        let topicsRank = @Html.Raw(Json.Encode(@ViewBag.TopicsRank));
    </script>

    <script src="~/Scripts/statisticsInvolvement.js" type="text/javascript"></script>
</body>
</html>