<!DOCTYPE html>
<html>
<head>
    <title>Material Educativo</title>
</head>

<body>
    <div class="container">
        <h1 style="margin:10px 0 20px 0;">Material Educativo</h1>

        @foreach (var educationalMaterials in @ViewBag.EducationalMaterials)
        {
            <div class="card rounded-3 bg-dark" style="margin: 15px 0 15px 0;">
                <div class="card-body">
                    <h2 class="text-start">@educationalMaterials.Title </h2>
                    <h5>Autor: @educationalMaterials.Author</h5>
                    <h9>Fecha de publicación: @educationalMaterials.PublicationDate</h9>
                    <br/>
                    <h9>Pertenece a la actividad: "@educationalMaterials.ActivityTitle"</h9>
                    <span>
                        <h5>Categoría: <a class=" btn btn-group-sm btn-success"> @educationalMaterials.Category</a></h5>
                        <h5>
                            Tópicos:
                            @foreach (var topic in educationalMaterials.Topics) {
                                <a class="badge rounded-pill bg-info"> @topic</a>
                            }
                        </h5>
                    </span>
                    <p class="card-text" style="margin-top: 15px;">
                        @foreach (var material in educationalMaterials.EducationalMaterialFileNames) {
                            <a href="~/Educational_Material/@material" download="@material">@material</a>
                            <br />
                        }
                    </p>
                </div>
            </div>
        }

    </div>
</body>
</html>
