
<!DOCTYPE html>
<html>

<head>
    <title>Comprobante de pago</title>
</head>

<body>
    <div class="container" style="height:; margin-top:3%">
        @if (Convert.ToBoolean(TempData["Error"]) == true) {
        <div class="alert alert-danger alert-dismissible" role="alert">
            <span type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></span>
            <strong>¡Oh no!</strong> @TempData["WarningMessage"]
        </div>
        }
        <div class="row justify-content-center align-items-center">
            <div class="card w-50" style="padding: 0px;">
                <div class="card-header text-center">
                    <h2>Comprobante de pago</h2>
                </div>

                <div class="card-body">
                    
                    <h5><strong>Número de orden:</strong> #@ViewBag.InvoiceNumber</h5>
                    <p>  Cualquier consulta, contáctenos a <a href="mailto:actividades.planetarioucr@gmail.com">actividades.planetarioucr@gmail.com</a> indicando su número de orden. </p>
                    <hr />
                    <div class="row">
                        <div class="col">
                            <h5><strong>Productos: </strong></h5>
                            <hr />
                            @foreach (var souvenir in ViewBag.SelectedSouvenirs) {
                                <h6><strong>@souvenir.Name</strong></h6>
                                <h6><strong>Precio unitario:</strong> ₡@souvenir.Price.ToString("#,###,###.#") </h6>
                                <h6><strong>Cantidad:</strong> @souvenir.SelectedCount</h6>
                                <hr />
                            }
                        </div>
                    </div>
                    <hr />
                    <h5> <b>Fecha:</b> @ViewBag.Date </h5>
                    @{double subtotal = @ViewBag.Price - @ViewBag.Tax;}
                    <h5> <b>Subtotal:</b> ₡@subtotal.ToString("#,###,###.#") </h5>
                    <h5> <b>Impuesto:</b> ₡@ViewBag.Tax.ToString("#,###,###.#")  </h5>
                    @if(@ViewBag.Discount > 0) { 
                        <h5> <b>Descuento:</b> - ₡@ViewBag.Discount.ToString("#,###,###.#") </h5>
                    }
                    <hr />
                    <div class="row">
                        <div class="col text-center">
                            <h4> <b>Total:</b> ₡@ViewBag.FinalPrice.ToString("#,###,###.#") </h4>
                            @Html.ActionLink("Finalizar", "../Home/Success"," ", new { @class = "btn btn-success", @style = "width: 40%" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
