
<head>
    <title>Pay Method</title>
</head>

<body>
    <div class="container" style="height: 100%">
        @if (Convert.ToBoolean(TempData["Error"]) == true) {
        <div class="alert alert-danger alert-dismissible" role="alert">
            <span type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></span>
            <strong>¡Oh no!</strong> @TempData["WarningMessage"]
        </div>
        }
        <div class="card-body">
            <p class="card-text">
                <h2>Sistema de pago</h2>
            </p>
            <hr />
            <div class="row no-gutters">
                <div class="col-6">
                    <fieldset>
                        <div class="card bg-light col-10">
                            <div class="card-header text-center">
                                <h5>Mi Carrito</h5>
                            </div>
                            <div class="card-body">
                                @foreach (var souvenir in ViewBag.SelectedSouvenirs) {
                                <h6><strong>@souvenir.Name</strong></h6>
                                <h6>@souvenir.Description</h6>
                                <h6><strong>Precio:</strong> @souvenir.Price</h6>
                                <h6><strong>Cantidad:</strong> @souvenir.SelectedCount</h6>
                                <hr />
                                 }
                                <h6><b>Precio Total:</b> ₡@ViewBag.Price</h6>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="col-6">
                    <div class="card rounded-3 bg-light">
                        <div class="card-body">
                            <form action="#" class="credit-card-div">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <div class="row">
                                            <div class="col-md-8">
                                                <span class="help-block text-muted small-font"> Número de tarjeta</span>
                                                <input id="creditCardNumber" value="" type="number" class="form-control" placeholder="0000 0000 0000 0000" data-maxlength="16" oninput="this.value=this.value.slice(0,this.dataset.maxlength)" required autocomplete="off" />
                                                <p id="cardNumberError" class="text-danger"></p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-3 col-sm-3 col-xs-3">
                                                <span class="help-block text-muted small-font"> Mes</span>
                                                <input id="monthInput" value="" type="number" class="form-control" placeholder="MM" maxlength="2" onchange="monthLimiter(this);" required />
                                                <p id="monthError" class="text-danger"></p>
                                            </div>
                                            <div class="col-md-3 col-sm-3 col-xs-3">
                                                <span class="help-block text-muted small-font">Año</span>
                                                <input id="yearInput" type="number" class="form-control" placeholder="YY" min="21" maxlength="2" onchange="yearLimiter(this)" required />
                                                <p id="yearError" class="text-danger"></p>
                                            </div>
                                            <div class="col-md-3 col-sm-3 col-xs-3">
                                                <span class="help-block text-muted small-font"> CVC</span>
                                                <input id="cvcInput" type="text" class="form-control" placeholder="CVC" maxlength="3" required />
                                                <p id="cvcError" class="text-danger"></p>
                                            </div>
                                            <div class="col-md-3 col-sm-3 col-xs-3">
                                                <i class="fas fa-credit-card"></i>
                                                <i class="fab fa-cc-mastercard"></i>
                                                <i class="fab fa-cc-visa"></i>
                                                <i class="fab fa-cc-paypal"></i>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 pad-adjust">
                                                <span class="help-block text-muted small-font"> Nombre de la tarjeta</span>
                                                <select class="form-select" aria-label="Default select example" style="color:gray" required>
                                                    <option selected>-Seleccionar-</option>
                                                    <option value="Visa">Visa</option>
                                                    <option value="Mastercard">Mastercard</option>
                                                    <option value="American Express">American Express</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 pad-adjust">
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" class="text-muted" required />
                                                        He leído y acepto las politicas de privacidad
                                                        <a data-toggle="modal" data-target="#exampleModalLong" style="color:#18bc9c">
                                                            Ver politicas de privacidad
                                                        </a>
                                                    </label>
                                                    <p class="errorPrivacy"></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="text-align:right; margin-top: 5px;">
                                    <div class="col-md-6 col-sm-6 col-xs-6 pad-adjust w-100">
                                        @Html.ActionLink("Pagar", "Invoice", "Souvenir", new {}, new { @id = "submit", @class = "btn btn-success", @style = "display: none" })
                                        <input type="button" class="btn btn-success btn-block" value="Pagar" onclick="checkData()" />
                                        <input type="button" id="showModal" data-toggle="modal" data-target="#takeoutModal" style="display:none" />
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="takeoutModal" tabindex="-1" aria-labelledby="takeoutModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content text-center">
                            <div class="modal-header">
                                <h5 class="modal-title" id="takeoutModalLabel">¿Cómo va a escoger su orden?</h5>
                                <button type="button" class="close btn btn-danger" data-dismiss="modal" id="closeModal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div>
                                    <button class="btn btn-success w-50" id="expressOption" onclick="location.href='/Souvenir/HomeDelivery'" type="button">Express</button>
                                </div>
                                <br />
                                <div>
                                    <button class="btn btn-primary w-50" id="pickUpOption" onclick="location.href='/Souvenir/Invoice'" type="button">Para Llevar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Políticas de privacidad del Planetario</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>
                                    Puedes utilizar nuestros servicios de diferentes formas para gestionar tu privacidad. Por ejemplo, si quieres crear y gestionar contenido, como correos electrónicos y fotos, o consultar resultados de búsqueda más relevantes, puedes registrarte para obtener una cuenta del Planetario. Asimismo, puedes utilizar diversos servicios de Planetario una vez que hayas cerrado sesión en tu cuenta o sin que hayas siquiera creado una como, por ejemplo, realizando una búsqueda en Google o visualizando vídeos en YouTube. Además, puedes ajustar la configuración de privacidad en todos nuestros servicios para controlar la información que recogemos y cómo la utilizamos.
                                </p>
                                <p>
                                    Recogemos información para proporcionar los mejores servicios a todos nuestros usuarios: desde determinar información básica, como el idioma que hablas, hasta datos más complejos, como los anuncios que te resultarán más útiles, las personas que más te interesan online o los vídeos de YouTube que te pueden gustar. El tipo de información que recoge Google y cómo se utiliza esa información depende del uso que hagas de nuestros servicios y de cómo administres los controles de privacidad.
                                </p>
                                <p>
                                    Si no has iniciado sesión en una cuenta del Planetario, almacenamos la información que recogemos con identificadores únicos vinculados al navegador, la aplicación o el dispositivo que utilices. Esto nos permite, por ejemplo, mantener tus preferencias de idioma en todas las sesiones de navegación.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

<script>

    function checkData() {

        let valid = true;

        let cardNumber = document.getElementById("creditCardNumber").value;
        let month = document.getElementById("monthInput").value;
        let year = document.getElementById("yearInput").value;
        let cvc = document.getElementById("cvcInput").value;
        valid = checkValidInput(cardNumber, "#cardNumberError", "Ingrese un número de tarjeta");
        valid = checkValidInput(month, "#monthError", "Ingrese un mes válido");
        valid = checkValidInput(year, "#yearError", "Ingrese un año");
        valid = checkValidInput(cvc, "#cvcError", "Ingrese el cvc al que se encuentra al reverso de su tarjeta");

        if (valid) {
            document.getElementById("showModal").click();
        }
    }

    function checkValidInput(containerValue, errorContainerId, errorMsg) {
        let valid = true;
        if (containerValue == '') {
            document.querySelector(errorContainerId).innerHTML = errorMsg;
            valid = false;
        }
        return valid;
    }


    function monthLimiter(input) {
        if (input.value < 1) input.value = '';
        if (input.value > 12) input.value = '';
    }

    function yearLimiter(input) {
        if (input.value < 21) input.value = '';
    }


    //document.getElementById("submit").setAttribute("data-toggle", "modal");
    //document.getElementById("submit").setAttribute("data-target", "#takeoutModal");
</script>

