<div class="container">
    <h1 style="margin:10px 0 20px 0;">Cursos y talleres en lista de aprobación</h1>

    @foreach (var activitie in ViewBag.activities)
    {
        if (activitie.State == 0)
        {
            <div class="card rounded-3 bg-dark" style="margin: 15px 0 15px 0;">
                <div class="card-body">
                    <br>
                    <h2 class="text-start">Título de la actividad: @activitie.Title </h2>
                    <h4>Propuesto por: @activitie.Publisher </h4>
                    <br />
                    <ul>
                        <li>Fecha: @activitie.Date</li>
                        <li>Duración: @activitie.Duration</li>
                        <li>Precio: @activitie.Price </li>
                        <li>Capacidad: @activitie.Capacity</li>
                        <li>Tipo: @activitie.Type</li>
                    </ul>
                    <span>
                        <h5>Categoría: <a class=" btn btn-group-sm btn-success"> @activitie.Category</a></h5>
                        <h5>
                            Tópicos:
                            @foreach (var topic in activitie.Topics)
                            {
                            <a class="badge rounded-pill bg-info"> @topic</a>
                            }
                        </h5>
                    </span>
                    <p class="card-text" style="margin-top: 15px;">
                        @activitie.Description
                    </p>
                    @using (Html.BeginForm("SubmitApprobation", "Collaborator", FormMethod.Post, new { title = ViewBag.Title, enctype = "multipart/form-data" })) {
                    @Html.AntiForgeryToken()

                    <select name="status" class="form-control">
                        <option value="1" selected>Aprobar</option>
                        <option value="2">Rechazar</option>
                    </select>
                    <br />
                    <input type="text" name="myTitle" value=@activitie.Title style="display: none;" />
                    <input type="submit" class="btn btn-success" style="padding: 5px 55px 5px 55px;" value="Enviar" />
                    }
                </div>
            </div>
        }
     }

    </div>