<div class="container">
    <h1 style="margin:10px 0 20px 0;">Cursos y talleres en lista de aprobación</h1>

    @foreach (var activitie in ViewBag.activities)
    {
        if (activitie.State == 1) { 
        
            <div class="card rounded-3 bg-dark" style="margin: 15px 0 15px 0;">
                <div class="card-body">
                    <br>
                    <h2 class="text-start">@activitie.Title  </h2>
                    <h4>Propuesto por: @activitie.PublisherId </h4>
                    <br />
                    <h9>Fecha: @activitie.Date</h9><br>
                    <h9>Duración: @activitie.Duration minutos</h9><br>
                    <h9>Precio: <span>&#36;</span> @activitie.Price</h9><br>
                    <h9>Capacidad: @activitie.Capacity personas</h9><br>
                    <h9>Tipo: @activitie.Type</h9><br>
                    <span>
                        <h5>Categoría: <a class=" btn btn-group-sm btn-success"> Category</a></h5>
                        <h5>
                            Tópicos:

                        </h5>
                    </span>
                    <p class="card-text" style="margin-top: 15px;">
                        @activitie.Description
                    </p>


                </div>
            </div>
        }
    }

</div>
            <