
@model Planetarium.Models.EmployeeModel
@{
    ViewBag.Title = "Crear Funcionario";
    List<SelectListItem> genders = new List<SelectListItem>() { new
    SelectListItem { Text = "M" }, new SelectListItem { Text = "F" }, new
    SelectListItem { Text = "Otro" } };
}
<html>
<head>
</head>
<body>
    @if (ViewBag.Message != null) {
        if (ViewBag.SucessOnCreation) {
            <div class="alert-success">
                <h3> @ViewBag.Message </h3>
            </div>
        } else {
            <div class="alert-danger">
                <h3> @ViewBag.Message </h3>
            </div>
        }
    }
    @using (Html.BeginForm("CreateEmployee", "Employees", FormMethod.Post, new { enctype = "multipart/form-data" })) {
        @Html.AntiForgeryToken()
        <h1>Formulario de creación de funcionario</h1>
        <div class="form-horizontal">
            <div class="form-group">
                @Html.LabelFor(model => model.FirstName)
                @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
            </div>
            <br />
            <div class="form-group">
                @Html.LabelFor(model => model.LastName)
                @Html.TextBoxFor(model => model.LastName, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
            </div>
            <br />
            <div class="form-group">
                @Html.LabelFor(model => model.PhotoFile)
                <br />
                @Html.TextBoxFor(model => model.PhotoFile, new
                {
                    type = "file",
               @class = "btn btn alert-info"
                })
                @Html.ValidationMessageFor(model => model.PhotoFile, "", new
                {
               @class = "text-danger"
                })
            </div>
            <br />
            <div>
                @Html.LabelFor(model => model.Gender)
                <br />
                <select name="gender">
                    <option value="N" selected>Género</option>
                    <option value="M">Hombre</option>
                    <option value="F">Mujer</option>
                    <option value="O">Otro</option>
                </select>

            </div>
            <br />
            <div class="form-group">
                @Html.LabelFor(model => model.Mail)
                @Html.TextBoxFor(model => model.Mail, new { @class = "form-control", @placeholder = "john.doe@gmail.com" })
            </div>
            <br />
            <div class="form-group">
                @Html.LabelFor(model => model.Occupation)
                @Html.TextBoxFor(model => model.Occupation, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Occupation, "", new { @class = "text-danger" })
            </div>
            <br />
            <div class="form-group">
                @Html.LabelFor(model => model.NativeCountry)
                
                @Html.ValidationMessageFor(model => model.NativeCountry, "", new { @class = "form-control" })
            </div>
            <br />
            <div class="form-group">
                @Html.LabelFor(model => model.Dni)
                @Html.TextBoxFor(model => model.Dni, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Dni, "", new { @class = "text-danger", @placeholder = "#########" })
            </div>
            <br />
            <div class="form-group">
                @Html.LabelFor(model => model.PhoneNumber)
                @Html.TextBoxFor(model => model.PhoneNumber, new { @class = "form-control", @placeholder = "########" })
            </div>
            <br />
            <div class="form-group">
                @Html.LabelFor(model => model.ExpertiseArea)
                @Html.TextBoxFor(model => model.ExpertiseArea, new { @class = "form-control" })
            </div>
            <br />
            <div class="form-group">
                @Html.LabelFor(model => model.Address)
                @Html.TextBoxFor(model => model.Address, new { @class = "form-control" })
            </div>
            <br />
            <div class="form-group">
                @Html.LabelFor(model => model.AcademicDegree)
                @Html.TextBoxFor(model => model.AcademicDegree, new { @class = "form-control" })
            </div>
            <br />
            <input type="submit" class="btn btn-success" value="Crear" />
        </div>
    }
</body>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
</html>
