
@model Planetarium.Models.EmployeesModel
@{
    ViewBag.Title = "Crear Funcionario";
}
<html>
<head>
</head>
<body>
    @if (ViewBag.Message != null)
        {
            if (ViewBag.SucessOnCreation)
            {
    <div class="alert-success">
        <h3> @ViewBag.Message </h3>
    </div>
            }
            else
            {
    <div class="alert-danger">
        <h3> @ViewBag.Message </h3>
    </div>
            }
        }
    @using (Html.BeginForm("CreateEmployee", "Employees", FormMethod.Post, new{ enctype = "multipart/form-data" }))
        {
    @Html.AntiForgeryToken()
    <h1>Formulario de creación de funcionario</h1>
    <div class="form-horizontal">
        <div class="form-group">
            @Html.LabelFor(model => model.Name)
            <br />
            @Html.TextBoxFor(model => model.Name, new { @class = "formcontrol" })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.LastName)
            <br />
            @Html.TextBoxFor(model => model.LastName, new { @class = "formcontrol" })
            @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Mail)
            <br />
            @Html.TextBoxFor(model => model.Mail, new { @class = "formcontrol", @placeholder = "johndoe@gmail.com" })
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Dni)
            <br />
            @Html.TextBoxFor(model => model.Dni, new { @class = "formcontrol" })
            @Html.ValidationMessageFor(model => model.Dni, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.PhoneNumber)
            <br />
            @Html.TextBoxFor(model => model.PhoneNumber, new { @class = "formcontrol", @placeholder = "86801632" })
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ExpertiseArea)
            <br />
            @Html.TextBoxFor(model => model.ExpertiseArea, new { @class = "formcontrol" })
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.BirthDay)
            <br />
            @Html.TextBoxFor(model => model.BirthDay, new { @class = "formcontrol" })
            @Html.ValidationMessageFor(model => model.BirthDay, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Address)
            <br />
            @Html.TextBoxFor(model => model.Address, new { @class = "formcontrol" })
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.AcademicDegree)
            <br />
            @Html.TextBoxFor(model => model.AcademicDegree, new { @class = "form-control" })
        </div>
        <div class="genderSelection">
            <form>
                Género <br/>
                <input type="Radio" name="Gender" value="Male" />Hombre 
                <input type="Radio" name="Gender" value="Female" />Mujer 
                <input type="Radio" name="Gender" value="Other" checked />Otro 
            </form>
        </div>
        <br />
        <input type="submit" class="btn btn-success" value="Crear funcionario" />
    </div>
        }
</body>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
</html>