<!DOCTYPE html>
<html>
<head>
    <title>Empleado </title>
</head>
<body>
    <div class="container" style="height: 100vh">
        <br>
        <div class="row">
            <div class="col-md-3">
                <img class="passaport-Img" width="165" height="200" src="~/images/EmployeesProfilePhotos/@ViewBag.Employee.PhotoPath" alt="an employee profile photo">
            </div>
            <br>
            <div class="col" style="display: flex; align-items: center;">
                <h1>
                    @ViewBag.Employee.FirstName
                    @ViewBag.Employee.LastName
                </h1>
            </div>
        </div>

        <div class="row">
            <div class="card col-md-4 employee-info">
                <div class="card-header">
                    Información personal
                </div>
                <div class="card-body">
                    <p class="card-text">
                        Cédula: @ViewBag.Employee.Dni <br>
                        Fecha de nacimiento: @ViewBag.Employee.DateOfBirth.ToString("dd'/'MM'/'yyyy")<br>
                        País de origen: @ViewBag.Employee.NativeCountry<br>
                    </p>
                </div>
            </div>

            <div class="card col-md-4 employee-info">
                <div class="card-header">
                    Información acádemica
                </div>
                <div class="card-body">
                    <p class="card-text">
                        Ocupación: @ViewBag.Employee.Occupation<br>
                        Área de expertiz: @ViewBag.Employee.ExpertiseArea <br>
                        Títulos acádemicos: @ViewBag.Employee.AcademicDegree <br>
                        Idiomas:
                        @foreach (var language in @ViewBag.Employee.Languages) {
            <a class="badge rounded-pill bg-info"> @language </a>}
                        <br>
                    </p>
                </div>

            </div>
            <div class="card col-md-3 employee-info">
                <div class="card-header">
                    Información de contacto
                </div>
                <div class="card-body">
                    <p class="card-text">
                        Teléfono: @ViewBag.Employee.PhoneNumber <br>
                        Correo: <a href="mailto:@ViewBag.Employee.Mail">@ViewBag.Employee.Mail</a> <br>
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
<style>
    .employee-info {
        margin: 0.5rem;
        margin-top: 1rem;
        padding: 0;
    }
</style>