@model Planetarium.Models.FrequentlyQuestionModel
@{
    ViewBag.Title = "Agregar Pregunta";
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>@ViewBag.Title</title>
</head>
<body>
    <div id="controllerURL" data-request-url="@Url.Action("GetTopicsList", "FrequentlyQuestion")"></div>
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <h1>Agregar una pregunta</h1>

        <div class="form-horizontal">
            <div class="form-group">
                @Html.LabelFor(model => model.Category)
                <br />
                @Html.DropDownList("Category", ViewData["category"] as List<SelectListItem>, "--Sin selección--", new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Topics)
                <br />
                @Html.DropDownList("Topics", new SelectList(string.Empty, "Value", "Text"), "Seleccione los tópicos", new { @class = "form-control" })
            </div>

            <div class="card-header" style="margin: 10px 0 10px 0;">
                <h4>Topicos seleccionados</h4>
                <div class="card-body" id="selectedTopics">

                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Question)
                <br />
                <textarea rows="5" name="question"></textarea>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Question)
                <br />
                <textarea rows="5" name="answer"></textarea>
            </div>

            <input type="submit" class="btn btn-success" value="Crear" />

        </div>
    }

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="~/Scripts/FrequentlyAskedQuestions.js"></script>
</body>
</html>