
<head>
    <link rel="stylesheet" href="~/Content/homePageAccess.css">
</head>

<body>
    <div class="container" >
        <div class="">
            <br />
            <h3 class="card-header">
                Aprenda de una manera diferente con nuestros juegos educativos
            </h3>
            <br />
            <div class="row" style="text-align:center">
                <div class="col-4">
                    <div class="imageHomePage">
                        <h3>Juego de ahorcado</h3>
                        <img src="~/images/GamesImages/Ahorcado.jpg" class="img_squareImg" alt="Responsive image">
                        <div class="image__overlay image__overlay--light">
                            <div class="image__title">@Html.ActionLink("Jugar", "../Games/HangManGame")</div>

                        </div>
                    </div>
                </div>

                <div class="col-4">
                    <div class="imageHomePage">
                        <h3>Juego de Memoria</h3>
                        <img src="~/images/GamesImages/memoryGameImages/spaceImgForMemoryGame.png" class="img_squareImg" alt="Responsive image">
                        <div class="image__overlay image__overlay--light">
                            <div class="image__title">@Html.ActionLink("Jugar", "../Games/MemoryGame")</div>

                        </div>
                    </div>
                </div>

                <div class="col-4">
                    <div class="imageHomePage">
                        <h3>Teclea Hasta El Espacio</h3>
                        <img src="~/images/GamesImages/TypingGame.jpg" class="img_squareImg" alt="Responsive image">
                        <div class="image__overlay image__overlay--light">
                            <div class="image__title">@Html.ActionLink("Jugar", "../Games/TypingGame")</div>

                        </div>
                    </div>
                </div>

            </div>
            <br />
            <h3 class="card-header">
                Más diversión
            </h3>
            <div class="row justify-content-center" style="text-align:center">
                <br />
                <div class="col-4">
                    <div class="imageHomePage">
                        <h3>Arkanoid</h3>
                        <img src="~/images/GamesImages/outerspacearkanoic300200.jpg" class="img_squareImg" alt="Responsive image">
                        <div class="image__overlay image__overlay--light">
                            <div class="image__title">@Html.ActionLink("Jugar", "../Games/OuterSpaceGame")</div>

                        </div>
                    </div>
                </div>

                <div class="col-4">
                    <div class="imageHomePage">
                        <h3>Space</h3>
                        <img src="~/images/GamesImages/space300200.jpg" class="img_squareImg" alt="Responsive image">
                        <div class="image__overlay image__overlay--light">
                            <div class="image__title">@Html.ActionLink("Jugar", "../Games/SpaceGame")</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        
    </div>


</body>
