@{
    ViewBag.Title = "Home Page";
}

    <head>
        <link rel="stylesheet" href="~/Content/homePageAccess.css">
    </head>

<body>

    <div class="container">

        <div>
            @{ Html.RenderPartial("~/Views/Home/WhoWeAre.cshtml"); }
        </div>
        <hr />
        <div class="">
            <div class="row">
                <div class="col-4">
                    <div class="imageHomePage">
                        <h3>Actividades</h3>
                        <img src="~/images/PlanetariumUCR/activitiesImageHomePage.jpg" class="img_squareImg" alt="Responsive image">
                        <div class="image__overlay image__overlay--light">
                            <div class="image__title">@Html.ActionLink("Actividades", "../EducationalActivity/ListActivities")</div>
                            <h5 class="image__description">
                                Aquí podés encontrar las próximas actividades
                            </h5>
                        </div>
                    </div>
                </div>

                <div class="col-4">
                    <div class="imageHomePage">
                        <h3>Calendario</h3>
                        <img src="~/images/PlanetariumUCR/calendario.png" class="img_squareImg" alt="Responsive image">
                        <div class="image__overlay image__overlay--light">
                            <div class="image__title">@Html.ActionLink("Calendario", "../Calendar/Calendar")</div>
                            <h5 class="image__description">
                                Fechas importantes
                            </h5>
                        </div>
                    </div>
                </div>

                <div class="col-4">
                    <div class="imageHomePage">
                        <h3>Cuestionarios</h3>
                        <img src="~/images/PlanetariumUCR/galileoEstudiando.jpg" class="img_squareImg" alt="Responsive image">
                        <div class="image__overlay image__overlay--light">
                            <div class="image__title">@Html.ActionLink("Cuestionarios", "../Quiz/Quizzes")</div>
                            <h5 class="image__description">
                                Poné a prueba tus conocimientos
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <div class="card" style="margin-top: 25px;">
            <h3 class="card-header">
                <a href="/News/ListNews" class="display-6 text-primary">Noticias y Anuncios</a>
            </h3>
            <div class="card-body">
                <div class="row">
                    @for (int index = 0; index < ViewBag.News.Count && index < ViewBag.length; ++index) {
                        <div class="col-sm">
                            <div class="card h-100 bg-light">
                                <div class="embed-responsive embed-responsive-4by3">
                                    <div class="embed-responsive-item">
                                        @if (ViewBag.News[index].ImagesRef.Count > 0) {
                                            <img src="~/images/news/@(ViewBag.News[index].ImagesRef[0])" alt="Alternate Text" class="img-fluid w-100" style="max-height: 180px;" />
                                        }

                                    </div>
                                </div>
                                <div class="card-body d-flex flex-column">
                                    <p class="card-text">
                                        @ViewBag.News[index].Title
                                    </p>
                                    @Html.ActionLink("Ver más", "../News/News", new { title = ViewBag.News[index].Title }, new { @class = "align-self-end align-self-right btn btn-info", @style = "margin-top: auto; " })

                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>

        </div>
        @{ Html.RenderPartial("~/Views/Streaming/InternetStreaming.cshtml"); }

    </div>


</body>
