@using Planetarium.Controllers
@{
    ViewBag.Title = "Cuestionarios";

    AuthorizationController authController = new AuthorizationController();
    int rolCookie = 0;
    try {
        if (Request.Cookies.Get("authCookie") != null) {
            rolCookie = Convert.ToInt32(Request.Cookies["authCookie"].Value);
        }
    } catch {

    }
}

<head>
    <title>@ViewBag.Title</title>
</head>

<body>
    <div class="container" style="height: 100vh; width:100%;">
        <div class="card d-flex">
            <div class="card-header">
                <div class="row d-flex">
                    <div class="col">
                        <h1 class="text-start">Cuestionarios</h1>
                    </div>
                    @if (rolCookie == 2 || rolCookie == 4 || rolCookie == 6) {
                        <div class="col text-end align-content-center">
                            <a type="button" class="align-self-end align-self-right" style="font-size:large;" href="../Quiz/NewQuiz">[agregar]</a>
                        </div>
                    }
                </div>
            </div>
            <div class="card-body">
                <div class="row d-flex">
                    @foreach (var quiz in ViewBag.Quizzes) {
                        <div class="col-4 d-flex ">
                            <div class="card rounded-3  w-100 " style="margin:15px;">
                                <div class="card-header">
                                    <h4><strong>@quiz.Title </strong>  </h4> <a href="#" class="badge rounded-pill bg-secondary">@quiz.Difficulty</a>
                                </div>

                                <div class="card-body">
                                    <p>
                                        @quiz.Description <br />
                                    </p>
                                </div>
                                <div class="card-footer text-center">
                                    <div class="d-flex justify-content-center">
                                        @Html.ActionLink("Ir a Cuestionario", "Quiz", "Quiz", new { url = quiz.Link }, new { @class = "btn btn-info d-flex " })
                                    </div>
                                </div>

                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

</body>
